<h1 class="page-header">Controls Demo</h1>
<form [formGroup]="formGroup">
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="isChecked" formControlName="isChecked">
    <label for="isChecked" class="form-check-label">Is checked</label>
  </div>
  <div class="form-group">
    <label for="date">Date</label>
    <div class="input-group">
      <input class="form-control" placeholder="A date" name="dp" ngbDatepicker #d="ngbDatepicker" formControlName="date"
        id="date">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
          <i class="fas fa-calendar"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="A name" formControlName="name">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="A password" formControlName="password">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" placeholder="A description"
      formControlName="description"></textarea>
  </div>
  <div class="form-group">
    <label for="number">Number</label>
    <input type="number" class="form-control" id="number" placeholder="A number" formControlName="number">
  </div>
  <div class="form-group">
    <label for="singleSelect">Single select</label>
    <select class="form-control" id="singleSelect" formControlName="singleSelect">
      <option value="single1">Single 1</option>
      <option value="single2">Single 2</option>
      <option value="single3">Single 3</option>
    </select>
  </div>
  <div class="form-group">
    <label for="multiSelect">Multi select</label>
    <select multiple class="form-control" id="multiSelect" formControlName="multiSelect">
      <option value="multi1">Multi 1</option>
      <option value="multi2">Multi 2</option>
      <option value="multi3">Multi 3</option>
    </select>
  </div>
  <div class="form-group">
    <label for="radio">Radio group</label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="radio" id="radio1" value="radio1" formControlName="radio"
        checked>
      <label class="form-check-label" for="radio1">Radio 1</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="radio" id="radio2" value="radio2" formControlName="radio">
      <label class="form-check-label" for="radio2">Radio 2</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="radio" id="radio3" value="radio3" formControlName="radio">
      <label class="form-check-label" for="radio3">Radio 3</label>
    </div>
  </div>

  <button class="btn btn-primary float-right" (click)="save()"
    [disabled]="formGroup.pristine || formGroup.status != 'VALID'">Save</button>

  <button *ngIf="object && object.id" class="btn btn-primary float-right mr-2" (click)="delete()">Delete</button>
</form>